@model SacramentMeetingPlanner.Models.Speakers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Speakers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpeakerID" class="control-label"></label>
                <select asp-for="SpeakerID" class="form-control" asp-items="ViewBag.SpeakerID"></select>
                <span asp-validation-for="SpeakerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SMPID" class="control-label"></label>
                <select asp-for="SMPID" class="form-control" asp-items="ViewBag.SMPID"></select>
                <span asp-validation-for="SMPID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SMPs/Index">Finish</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
